.old {
    display: none;
}

.table {
    display: table;
    border-collapse: collapse;
}

.row {
    display: table-row;
}

.cell1 {
    display: table-cell;
    padding: 5px;
    background-color: red;
}

.cell2 {
    display: table-cell;
    padding: 5px;
    background-color: blue;
}

.border {
    border: 1px solid black;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.vhidden {
    visibility: hidden;
}